/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #F1FAEE;
  border-radius: 2vmax;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 2vmax;
  border: 0.1vmax solid #888;
  width: 90vmax; /* Could be more or less, depending on screen size */
  height: 30vmax;
}

.modal-image{
  float: left;
  border-radius: 2vmax;
  height: 26vmax;
}

.modal-info{
  float: right;
  background-color: transparent;
  color: #1D3557;
}

.modal-title{
  text-align: right;
  font-size: 3vmax;
  font-weight: bold;
  background-color: transparent;
  color: #1D3557;
}

.modal-filter-matches {
  display: grid;
  justify-content: right;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  font-size: 0.8vmax;
  column-gap: 0.5vmax;
  margin-bottom: 1vmax;
}

.modal-phone{
  text-align: right;
  font-size: 2.5vmax;
  font-weight: bold;
  background-color: transparent;
  color: #1D3557;
}

.modal-address{
  display: grid;
  text-align: right;
  font-size: 2vmax;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
  color: #1D3557;
  height: 4.5vmax;
}

.modal-distance{
  float: right;
  font-size: 1.5vmax;
  font-weight: 500;
  background-color: white;
  color: #1D3557;
  padding: 0.4vmax 1vmax;
  border-radius: 2vmax;
  margin-top: 1vmax;
}

.pr-carousel {
  width: 60vmax;
  height: 45vmax;
  background-color: transparent;
}

.pr-loading {
  width: 60vmax;
  height: 45vmax;
  background-color: gainsboro;
  border-radius: 1.8vmax;
}

.pr-img {
  border-radius: 1.8vmax;
  width: 60vmax;
  height: 45vmax;
  object-fit: cover;
  object-position: 50% 50% ;
}

.pr-card-holder {
  width: 60vmax;
  height: 45vmax;
  margin-top: 1.5vmax;
  border-radius: 1.8vmax;
  margin-left: auto;
  margin-right: auto;
  display: inline-grid;
}

.pr-card-content {
  margin-top: -13vmax;
  background-color: #F1FAEE;
  opacity: 0.85;
  text-align: left;
  border-radius: 1.8vmax;
  height: 13.1vmax;
}

.pr-title {
  margin-top: 1vmax;
  margin-left: 1.5vmax;
  font-size: 2.2vmax;
  font-weight: bold; 
  color: #457B9D;
  background-color: transparent;
}

.pr-star {
  padding-top: 0.1vmax;
  padding-left: 1.3vmax;
  font-size: 1.35vmax;
  margin: 0.25vmax;
  background-color: transparent;
  color: #cf5140;
}

.pr-price {
  margin-top: 0.8vmax;
  margin-left: 1.6vmax;
  
  background-color: #457B9D;
  opacity: 0.8;
  color: #ffffff;
  
  font-size: 1.2vmax;
  text-align: center;
  padding: 0.4vmax;
  padding-left: 2vmax;
  padding-right: 2vmax;
  border-radius: 2vmax;
  display: inline-grid;
}

.pr-filter-matches {
  margin-left: 1.5vmax;
  background-color: transparent;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 0.7vmax;
  font-size: 1.2vmax;
}

.pr-filter-match {
  background-color: #1D3557;
  opacity: 0.8;
  color: white;
  margin-top: 0.6vmax;
  
  font-weight: bold;
  padding: 0.4vmax;
  padding-left: 1vmax;
  padding-right: 1vmax;
  border-radius: 2vmax;
}

.pr-more-info {
  display: inline-grid;
  float: right;
  margin-right: 3.2vmax;
  margin-top: -3.1vmax;
  cursor: pointer;
}

.pr-info-icon {
  color: #457B9D;
  font-size: 2vmax;
}

.gird-apply {
  grid-template-columns: auto auto auto;
  background-color: transparent;
  margin-top: .5vmax;
}

.pr-l {
  background-color: #E63946;
  padding: 1vmax;
  border-radius: 1vmax;
  font-size: 3.65vmax;
  color: white;
  cursor: pointer;
}

.pr-l:hover {
  background-color: #AD2B35;
  transition: all 0.3s ease-in-out;
}

.l-selected {
  background-color: #AD2B35;
  box-shadow: 0.2vmax 0.2vmax rgb(58, 57, 57);
}

.pr-more-results {
  display: inline-block;
  width: 9.5vmax;
  font-size: 1.5vmax;
  padding: 1vmax;
  font-weight: bold;
  border-radius: 1vmax;
  background-color: #457B9D;
  color: white;
  cursor: pointer;
}

.pr-more-results:hover {
  background-color: #ffffff;
  color: #457B9D;
  transition: all 0.3s ease;
}

.pr-d {
  background-color: #1D3557;
  padding: 1vmax;
  border-radius: 1vmax;
  font-size: 3.65vmax;
  color: white;
  cursor: pointer;
}

.pr-d:hover {
  background-color: #25579e;
  transition: all 0.3s ease-in-out;
}

.dl-selected {
  background-color: #25579e;
  box-shadow: 0.2vmax 0.2vmax rgb(58, 57, 57);
}

.pr-likes {
  display: inherit;
  padding: 10%;
  font-size: 0.5em;
  background-color: #E63946;
  color: white;
  border-radius: 50%;
}

.pr-dislikes {
  display: inherit;
  padding: 10%;
  font-size: 1em;
  background-color: #457B9D;
  color: white;
  border-radius: 50%;
}

.likes {
  background-color: transparent;
  width:4vmax;
  height:4vmax;
  object-fit:cover;
}

.dislike{
  background-color: transparent;
  width:4vmax;
  height:4vmax;
  object-fit:cover;
  transform: rotate(180deg);
}

.noRestaurant{
  padding: 1vmax;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
}

.refindbutton{
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70vh;
  font-size: 2em;
  padding: 0.25vmax;
  background-color: #E63946;
  color: white;
}