.pr-img {
  height: 70vmax;
  width: 75vmax;
  margin-top: 2vmax;
  display: inline-grid;
  border-radius: 25px;
  
}

.pr-card-holder {
  display: inline-grid;
}

.pr-card-content {
  margin-top: -18vmax;
  background-color: rgb(241, 250, 238, 0.9);
  text-align: left;
}

.pr-title {
  font-size: 4vmax;
  color: #457B9D;
  background-color: rgba(255, 255, 255, 0);
}

.pr-star {
  font-size: 2.5vmax;
  background-color: transparent;
}

.pr-price {
  background-color: rgb(69, 123, 157, 0.66);
  font-size: 2.5vmax;
  width: 8vmax;
  border-radius: 4vmax;
  text-align: center;
  margin: 1vmax;
}

.pr-filter-matches {
  background-color: rgba(255, 255, 255, 0);
  margin-left: 0.5vmax;
}

.pr-filter-match {
  background-color: rgb(29, 53, 87, 0.75);
  color: white;
  margin: 0.5vmax;
  font-size: 2vmax;
  font-weight: bold;
  border-radius: 4vmax;
  text-align: center;
  position: relative;
  padding: 0.5vmax;
}

.gird-apply {
  justify-items: center;
  background-color: transparent;
}

.pr-more-results {
  display: inherit;
  margin: 1vmax;
  padding: .75vmax;
  font-size: 2vmax;
  background-color: #E63946;
  color: white;
  border-radius: 1.5vmax;
}