.card {
  background-color: #457B9D;
  height: 20vmax;
  margin-top: 2.3vmax;
  margin-left: 5vmax;
  margin-right: 5vmax;
  border-radius: 2vmax;
}

.img {
  height: 20vmax;
  width: 25vmax;
  object-fit: cover;
  float: left;
  border-radius: 2vmax;
}

.container {
  display: grid;
  background-color: transparent;
  margin-left: 27vmax;
  height: 20vmax;
  padding-top: 0.5vmax;
  border-radius: 4vmax;
  text-align: left;
}

.name {
  background-color: transparent;
  color:  white;
  display: grid;
  font-weight: bolder;
  font-size: 2.5vmax;
  border-left: 1vmax;
  margin-top: 1vmax;
  margin-bottom: 0.3vmax;
}

.desc {
  font-size: 1.5vmax;
  color:  white;
  display: grid;
  font-weight: 600;
  background-color: transparent;
  margin-bottom: 0.3vmax;
}

.button-items {
  background-color: transparent;
  margin-right: 3vmax;
  text-align: right;
}

.r-l {
  background-color: #E63946;
  padding: 1vmax;
  border-radius: 1vmax;
  font-size: 2.5vmax;
  color: white;
  cursor: pointer;
}

.r-l:hover {
  background-color: #AD2B35;
  transition: all 0.3s ease-in-out;
}

.l-selected {
  background-color: #AD2B35;
  box-shadow: 0.2vmax 0.2vmax rgb(58, 57, 57);
}

.r-d {
  background-color: #1D3557;
  padding: 1vmax;
  border-radius: 1vmax;
  font-size: 2.5vmax;
  color: white;
  cursor: pointer;
}

.r-d:hover {
  background-color: #25579e;
  transition: all 0.3s ease-in-out;
}

.dl-selected {
  background-color: #25579e;
  box-shadow: 0.2vmax 0.2vmax rgb(58, 57, 57);
}

.stars{
  font-size: 1.4vmax;
  display: grid;
  color : #AD2B35;
  background-color: #457B9D;
}

.price {
  font-size: 1.5vmax;
  color:  white;
  display: grid;
  font-weight: 400;
  background-color: transparent;
  margin-bottom: 1vmax;
  font-weight: 600;
}

.noRestaurant{
  padding: 1vmax;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
}