.card {
  background-color: #457B9D;
  height: 20vmax;
  margin-top: 2vmax;
  margin-left: 5vmax;
  margin-right: 5vmax;
  border-radius: 2vmax;
}

.img {
  height: 20vmax;
  width: 25vmax;
  object-fit: cover;
  float: left;
  border-radius: 2vmax;
}

.container {
  display: grid;
  background-color: transparent;
  margin-left: 27vmax;
  height: 20vmax;
  padding-top: 0.5vmax;
  border-radius: 4vmax;
  text-align: left;
}

.name {
  background-color: transparent;
  color:  white;
  display: grid;
  font-weight: bolder;
  font-size: 3.5vmax;
  border-left: 1vmax;
  margin-bottom: 0.5vmax;
}

.desc {
  font-size: 2.5vmax;
  color:  white;
  display: grid;
  font-weight: 400;
  background-color: transparent;
  margin-bottom: 0.5vmax;
}

.stars{
  font-size: 2vmax;
  display: grid;
  color : #AD2B35;
}
.price {
  font-size: 2.5vmax;
  color:  white;
  display: grid;
  font-weight: 400;
  background-color: transparent;
  margin-bottom: 0.5vmax;
}