* {
  background: #F1FAEE;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}
.App-logo {
  height: 90vmin;
  pointer-events: none;
}

.App {
  text-align: center;
}