.NavbarItems {
    background: #AD2B35;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    width: 200px;
    background: #AD2B35;
    color: #457B9D;
    cursor: pointer;
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: 900;
    justify-self: start;
    margin-left: 0.5rem;
    text-shadow: #1a2f3d 0.5px 0.5px;
}

.fa-hamburger {
    background: #AD2B35;
    margin-left: -0.5rem;
    font-size: 2.1rem;
}

.nav-menu {
    background: transparent;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-search-bar {
    border-radius: 3vmax;
    width: 40vmax;
    height: 3.5rem;
    font-size: 1.8vmax;
    position: absolute;
    top: 1.1rem;
    right: 44%;
    text-indent: 1.7vmax;
}

.nav-submit-button {
    border-radius: 50%;
    font-size: 1.2rem;
    color: gray;
    height: 3.4rem;
    width: 3.4rem;
    top: 1.25rem;
    left: 57%;
    position: absolute;
    display: inherit;
}

.nav-links {
    display: none;
    background-color: #AD2B35;
    color: #F1FAEE;
    padding: 0.45vmax 1.7vmax;
    text-decoration: none;
    margin-right: -5vmax;
    font-weight: 600;
}

.nav-links:hover {
    background-color: #F1FAEE;
    color: #AD2B35;
    border-radius: 0.5vmax;
    transition: all 0.3s ease-out;
}

.fa-bars {
    background-color: transparent;
    color: #F1FAEE;
    margin-top: 7px;
}

.powered-by {
    background-color: transparent;
    font-size: 0.75rem;
    color: white;
    font-weight: 600;
    margin-top: 0.5vmax;
    padding: 0rem 1.5rem;
}

.yelp-logo {
    background-color: transparent;
    width: 5rem;
}

.dashboard-button {
    font-size: 1.1rem;
    background-color: #457B9D;
    color: #F1FAEE;
    font-weight: 700;
    padding: 0.6vmax 1vmax;
    border-radius: 0.5vmax;
    text-decoration: none;
    margin-right: 2rem;
}

.dashboard-button:hover {
    padding: 0.6vmax 1vmax;
    border-radius: 0.5vmax;
    transition: all 0.3s ease-out;
    background: #F1FAEE;
    color: #457B9D;
    transition: 250ms;
    text-decoration: none;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .navbar-logo {
        margin-left: -2rem;
    }

    .NavbarItems {
        height: 87px;
    }

    .NavItems {
        position: relative;
    }

    .nav-search-bar {
        display: none;
    }

    .nav-submit-button {
        display: none;
    }

    .powered-by {
        background-color: transparent;
        font-size: 0.75rem;
        color: white;
        font-weight: 600;
        
    }
    
    .yelp-logo {
        background-color: transparent;
        width: 5rem;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #AD2B35;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links { 
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        display: table;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .nav-links:hover {
        background-color: #F1FAEE;
        border-radius: 0;
    }

    .navbar-logo{
        position: absolute;
        left: 2vmax;
        font-size: 2.1rem;
    }
    
    .fa-hamburger {
        background: #AD2B35;
        margin-left: -0.6vmax;
        font-size: 1.8rem;
    }

    .menu-icon {
        background-color: transparent;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        background-color: transparent;
        color: #F1FAEE;
        font-size: 2rem;
        margin-top: 5px;
        margin-right: 2px;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        background-color: #457B9D;
        text-decoration: none;
        color: #F1FAEE;
        font-size: 1.5rem;
        font-weight: 700;
        width: 100%;
    }

    .nav-links-mobile:hover {
        background: #F1FAEE;
        color: #457B9D;
        transition: 250ms;
    }

    .dashboard-button {
        display: none;
    }
    .aboutUS {
        display: none;
    }
}