.NavbarItems {
    background: #AD2B35;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    background: #AD2B35;
    color: #457B9D;
    justify-self: start;
    cursor: pointer;
    font-size: 3.5vmax;
    text-decoration: none;
    font-weight: 900;
}

.fa-hamburger {
    background: #AD2B35;
    margin-left: -0.5vmax;
    font-size: 3vmax;
}

.nav-menu {
    background: transparent;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-search-bar {
    border-radius: 20vmax;
    width: 40vmax;
    height: 4vmax;
    font-size: 2vmax;
    position: absolute;
    top: 2%;
    right: 44%;
}

.nav-submit-button {
    border-radius: 50%;
    height: 4vmax;
    width: 4vmax;
    top: 2.5%;
    left: 57%;
    position: absolute;
    display: inherit;
}

.nav-links {
    background-color: #AD2B35;
    color: #F1FAEE;
    padding: 0.45vmax 1.7vmax;
    text-decoration: none;
    margin-right: -5vmax;
    font-weight: 600;
}

.nav-links:hover {
    background-color: #F1FAEE;
    color: #AD2B35;
    border-radius: 0.5vmax;
    transition: all 0.3s ease-out;
}

.fa-bars {
    background-color: transparent;
    color: #F1FAEE;
    margin-top: 7px;
}

.dashboard-button {
    background-color: #457B9D;
    color: #F1FAEE;
    font-weight: 700;
    padding: 0.6vmax 1vmax;
    border-radius: 0.5vmax;
    text-decoration: none;
}

.dashboard-button:hover {
    padding: 0.6vmax 1vmax;
    border-radius: 0.5vmax;
    transition: all 0.3s ease-out;
    background: #F1FAEE;
    color: #457B9D;
    transition: 250ms;
    text-decoration: none;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        height: 87px;
    }

    .NavItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #AD2B35;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links { 
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        display: table;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .nav-links:hover {
        background-color: #F1FAEE;
        border-radius: 0;
    }

    .navbar-logo{
        position: absolute;
        left: 2vmax;
        font-size: 2.1rem;
    }
    
    .fa-hamburger {
        background: #AD2B35;
        margin-left: -0.6vmax;
        font-size: 1.8rem;
    }

    .menu-icon {
        background-color: transparent;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        background-color: transparent;
        color: #F1FAEE;
        font-size: 2rem;
        margin-top: 5px;
        margin-right: 2px;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        background-color: #457B9D;
        text-decoration: none;
        color: #F1FAEE;
        font-size: 1.5rem;
        font-weight: 700;
        width: 100%;
    }

    .nav-links-mobile:hover {
        background: #F1FAEE;
        color: #457B9D;
        transition: 250ms;
    }

    .dashboard-button {
        display: none;
    }
    .aboutUS {
        display: none;
    }
}