.input-block {
    position: relative;
}

.input-search {
    border-radius: 20vmax;
    width: 45vmax;
    height: 4.6vmax;
    font-size: 2vmax;
    position: absolute;
    top: 73%;
    right: 30%;
    text-indent: 1.7vmax;
}

.locate-button {
    border-radius: 50%;
    height: 4vmax;
    width: 4vmax;
    top: 73.5%;
    left: 65.5%;
    position: absolute;
    display: inherit;
    background-color: #457b9dad;
}

.submit-button {
    color: gray;
    font-size: 1.5vmax;
    border-radius: 50%;
    height: 4.6vmax;
    width: 4.6vmax;
    top: 73.1%;
    left: 72%;
    position: absolute;
    display: inherit;
}

.input-logo {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.input-centerText {
    color: #F1FAEE;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-size: 3.3vmax;

    position: absolute;
    top: 59%;
    left: 27%;
    background-color: transparent;
}